<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>BuySell</title>
</head>

<body>


<form th:each="image : ${images}">
    <img  th:src="@{/images/{imageId}(imageId=${image.getId()})}"  height="100px" />
</form>


    <form th:method="post" th:object="${product}" th:action="@{delete/{productId}(productId=${product.getId()})}">
        <table >
          Title: <tr th:text="${product.getTitle()}"></tr>
            <br>
            Price: <tr th:text="${product.getPrice()}"> </tr>
            <br>
            City: <tr th:text="${product.getCity()}"> </tr>
            <br>
            Author: <tr th:text="${product.getUser().getName()}"> </tr>
            <br>
            Phone: <tr th:text="${product.getUser().getPhoneNumber()}"></tr>
            <br>
            Description: <tr th:text="${product.getDescription()}"> </tr>
        </table>
        <input type="submit" value="Delete">
    </form>

<button> <a th:href="@{/buysell/products}"> Back</a></button>

</body>

</html>