<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BuySell</title>
</head>

<body>

<h1>BUYSELL </h1>
<hr>

<div th:if="${user.getUsername() != null}">
    <h4> Name of User -  <i th:text="${user.getUsername()}"></i> </h4>
    <form method="post" action="/logout">
        <input type="submit" value="Выйти"/>
        <input type="hidden" name="_csrf" th:value="${_csrf.token}">
    </form>
</div>

<div th:if="${user.getUsername() == null}">
    <form method="post" action="/login">
        <input type="submit" value="Войти"/>
        <input type="hidden" name="_csrf" th:value="${_csrf.token}">
    </form>
</div>

<br>

<form action="products" method="get">
    Поиск по названию <input type="text" name="title"/>
    <input type="submit" value="Sort">
</form>
<h4>Products from all Russia:</h4>
<br>
<div th:if="${!products.isEmpty()}">
<table>
    <tr th:each="product : ${products}">
        <td th:text="${product.getTitle()}"></td>
        <td th:text="${product.getPrice()}"></td>
        <td>
            <a th:href="@{/buysell/products/{productId}(productId=${product.getId()})}">Details</a>
        </td>
    </tr>
</table>
</div>
<div th:if="${products.isEmpty()}">
    <h4> Товаров нет </h4>
</div>

<hr>
<div th:if="${user.getUsername() != null}">
    <h2>Add new product:</h2>
<form method="post" action="addProduct" enctype="multipart/form-data">
    Enter title: <input type="text" name="title"/>
    <br>
    Enter description: <input type="text" name="description"/>
    <br>
    Enter price: <input type="number" name="price"/>
    <br>
    Enter city: <input type="text" name="city"/>
    <br>
    First photo: <input type="file" name="file1"/>
    <br>
    Second photo: <input type="file" name="file2"/>
    <br>
    Third photo: <input type="file" name="file3"/>
    <br>
    <input type="submit" value="add"/>
    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
</form>
</div>
</body>

</html>